/* Tab bar customization */



:root:-moz-lwtheme-brighttext {
    --chrome-background-color: #282828 !important;
    --chrome-color: #8f8f8f !important;
    --chrome-secondary-background-color: #363636 !important;
    --toolbox-border-bottom-color: #282828 !important;
}


.tabbrowser-tab[visuallyselected="true"]:-moz-lwtheme {
	color: #dddddd !important;
}


.tabbrowser-tab:only-child  {
    display: none !important;
}



.toolbarbutton-animatable-box[brighttext], toolbar[brighttext] .toolbarbutton-animatable-box, toolbar[brighttext] .toolbarbutton-1 {
    fill: #f0f8ff !important;
}


:root:-moz-lwtheme {
    --tab-line-color: none !important;
}

/* set all fonts to Overpass and to lowercase */

#TabsToolbar .tabbrowser-tab, #userContext-label, #searchbar > .searchbar-textbox, #urlbar  {
    text-transform: lowercase;
    font-family: 'Overpass' !important;
    font-size: 14px !important;
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity, #urlbar[pageproxystate="valid"] > #identity-box.chromeUI, #urlbar[pageproxystate="valid"] > #identity-box.extensionPage, #urlbar-display-box {
    /*border-inline-end: 1px solid #b8bb26 !important;*/
    border-image: linear-gradient(transparent 15%, #b8bb2 15%, #b8bb2 85%, transparent 85%);
}


#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity{
    --urlbar-separator-color: #b8bb26;
}



/* dark menus addon */


/*Darken panels to match theme*/
.panel-arrow {
    filter: invert(33%);
}

.panel-subview-body,#appMenu-zoomReset-button {
    color: var(--lwt-text-color) !important;
    background: var(--url-and-searchbar-background-color) !important;
}

.panel-subview-footer,[class^="PanelUI-"] {
    color: var(--lwt-text-color) !important;
    background: var(--toolbar-bgcolor) !important;
}

#PopupAutoCompleteRichResult .ac-title-text{
    color: var(--lwt-text-color) !important;
    filter: opacity(.7);
}

#PopupAutoCompleteRichResult .autocomplete-richlistbox {
    background: var(--url-and-searchbar-background-color) !important;
}
/*stops possible clashes with extension popups*/

.webextension-popup-browser {
    background: #fff;
}

/*  URL BAR     */


toolbarspring {
    display: none;
}


.verifiedIdentity#connection-icon, .verifiedIdentity#identity-icon-labels {
    fill: #b8bb26 !important; /*for connection-icon */
    color: #b8bb26 !important; /*for icon label*/
}

.urlbar-history-dropmarker, #page-action-buttons{
    display: none;
}


/*   TABS   */



/* Fixing tabGroups menu */
#tabGroups-tabview-button .toolbarbutton-text {
	max-height: inherit !important;
}
toolbar {
	min-height: 0px !important;
}
toolbar .toolbarbutton-1 {
	padding: 3px 2px !important;
}



/* favicons to a greyscale theme*/

.tab-icon-image {
    filter: grayscale(1) invert(1);
    /*filter: sepia(1) hue-rotate(200deg);*/
}



/* container tab border colour */


[data-identity-color="blue"] {
    --identity-tab-color: #458588 !important;
    --identity-icon-color: #458588 !important;
}

[data-identity-color="turquoise"] {
    --identity-tab-color: #689d6a !important;
    --identity-icon-color: #689d6a !important;
}

[data-identity-color="green"] {
    --identity-tab-color: #98971a !important;
    --identity-icon-color: #98971a !important;
}

[data-identity-color="yellow"] {
    --identity-tab-color: #d79921 !important;
    --identity-icon-color: #d79921 !important;
}

[data-identity-color="orange"] {
    --identity-tab-color: #d65d0e !important;
    --identity-icon-color: #d65d0e !important;
}

[data-identity-color="red"] {
    --identity-tab-color: #cc241d !important;
    --identity-icon-color: #cc241d !important;
}

[data-identity-color="pink"] {
    --identity-tab-color: #f0f8ff !important;
    --identity-icon-color: #f0f8ff !important;
}

[data-identity-color="purple"] {
    --identity-tab-color: #b16286 !important;
    --identity-icon-color: #b16286 !important;
}
